<%= f = form_for @changeset, "#", [phx_submit: :send_message, autocomplete: :off] %>
  <%= label f, :playlist %>
  <%= text_input f, :playlist %>
  <%= error_tag f, :playlist %>

  <%= hidden_input f, :room %>

  <div>
    <%= submit "Send", phx_disable_with: "Sending..." %>
  </div>
</form>
